*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  min-width: 1200px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*basic stylization*/

a {
  text-decoration: none;
}

.main-navigation {
  font-weight: 700;
  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #b2b2b2;
}

a.active,
a.active:hover,
a.active:active {
  color:#766357;
}

.bold-text {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.bold-text+.sedona-cool {
  text-align: center;
}

.reason-blue {
  background-color: #81b3d2;
}

.reason-blue h2 {
  font-size: 21px;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
}

.reason-blue p {
  text-align: center;
  color: #ffffff;
}

.features-list h2 {
  text-align: center;
  font-size: 21px;
  color: #000000;
}

.features-list p {
  text-align: center;
}

.reason-grey {
  background-color: #eeeeee;
}

.reason-grey h2 {
  text-align: center;
  font-size: 21px;
  color: #000000;
}

.reason-grey p {
  text-align: center;
}

.hotels-title{
  background-color: #ffffff;
}

.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin: 0;
}

.title+p {
  text-align: center;
  line-height: 24px;
}

.search-button {
  background-color: #766357;
  border:none;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 700;
}

.search-button:hover {
  background-color: #604e43;

}

.search-button:active {
  background-color: #503e33;
  color: #928a85;
}

.arrival-label,
.departure-label,
.adults-label,
.children-label {
  line-height: 26px;
  font-weight: 700;
}

.arrival-input,
.departure-input,
.adults-input,
.children-input {
  background-color: #f2f2f2;
  border: none;
}

.arrival-input:hover,
.departure-input:hover,
.adults-input:hover,
.children-input:hover {
  background-color: #ebebeb;
}

.arrival-input:focus,
.departure-input:focus,
.adults-input:focus,
.children-input:focus {
  background-color: #ffffff;
}

.button-find {
  background-color: #81b3d2;
  border:none;
  font-size: 21px;
  color: #ffffff;
  font-weight: 700;
}

.button-find:hover {
  background-color: #669ec0;
}

.button-find:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.footer-cotacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.copyright{
  line-height: 26px;
}

.filter {
  background-image: url(../img/filter-background.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #a1c1d6;
}

.option {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.filter-item ul {
  list-style: none;
}

.filter-text {
  color:#ffffff;
}

.min-price,
.max-price {
  color:#ffffff;
}

.trans {
  background-color: transparent;
  border: 2px solid #ffffff;
}

.button-show {
  background-color: transparent;
  border: 2px solid #ffffff;
  color:#ffffff;
}

.button-show:hover {
  background-color:#ffffff;
  color:#000000;
}

.found-item {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
  color:#000000;
}

.sorting-list{
  list-style: none;
}

.sorting-item a {
  font-size:12px;
  line-height: 18px;
  color:#cacaca;
  border-bottom:#81b3d2 1px dotted;
}

.sorting-item a:hover {
  color:#81b3d2;
}

.sorting-item a:active {
  color:#000000;
  border-bottom:transparent;
}

a.current,
a.current:hover,
a.current:active{
  color:#81b3d2;
  border-bottom:transparent;
}

.results-list {
  list-style: none;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotel-name:hover {
  color:#81b3d2;
}

.hotel-name:active {
  color:#b2b2b2;
}

.more-info {
  color: #ffffff;
  font-weight: 700;
  background-color: #81b3d2;
}

.more-info:hover {
  background-color: #669ec0;
}

.more-info:active {
  color: #84b4d0;
  background-color: #5496bd;
}

.booking {
  color: #ffffff;
  font-weight: 700;
  background-color: #766357;
}

.booking:hover {
  background-color: #604e43;
}

.booking:active {
  color: #857871;
  background-color: #503e33;
}

.sorting-text {
  color: #666666;
  background-color: #f2f2f2;
}

/*grid*/

.main-header {
  position: relative;
}

.container {
  width: 1200px;
  margin: 0px auto;
}

.main-navigation {
  position: relative;
  min-height: 56px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1056px;
  margin: 0 auto;
  padding: 0;
  padding:17px 0;
}

.nav-left {
  padding-right: 147px;
}


.nav-left + .nav-right {
  margin-left: auto;
}

.nav-right + .nav-right {
  padding-left: 163px;
}

.logo {
  top: 0;
  position: absolute;
  margin-left: calc(50% - 69px);
  width: 138px;
  height: 70px;
  z-index: 1;
}

.banner {
  width: 1200px;
  min-height: 508px;
}
.banner-image {
  background-image: url("../img/background-index.jpg");
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
  width: 1200px;
  min-height: 508px;
}

.banner-image img{
  display: block;
  width: 458px;
  min-height: 352px;
  margin: 0 auto;
  padding-top: 77px;
}

.intro {
  background-color: #ffffff;
  min-height: 216px;
  padding-left: 356px;
  padding-right: 356px;
  padding-top: 40px;
  overflow: hidden;
}

.bold-text {
  margin-bottom: 30px;
}

.reason-blue {
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.reason-item {
  margin: 0;
  width: 400px;
  padding-top: 47px;
  padding-bottom: 59px;
}

.reason-item h2 {
  margin: 0 120px;
}

.number {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 20px;
}

.number + p {
  margin: 0 48px;
}

.reason-image {
  width: 800px;
}

.reason-image img {
  position: absolute;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  min-height: 330px;
}

.features-item {
  width: 400px;
  min-height: 256px;
  background-color: #ffffff;
  padding-left: 55px;
  padding-right: 55px;
}

.lodging-svg {
  margin-left: 107px;
  margin-top: 60px;
}

.food-svg {
  margin-left: 108px;
  margin-top: 61px;
}

.souvenirs-svg {
  margin-left: 113px;
  margin-top: 56px;
}

.features-item h2 {
  margin-top: 23px;
  margin-bottom: 24px;
}

.reason-grey {
  display: flex;
  justify-content: space-between;
  min-height: 256px;
  margin: 0;
  padding: 0;
}

.reason-grey p {
  margin: 0 75px;
}

.number + .road {
  margin: 0 60px;
}

.hotels {
  min-height: 291px;
  background-color: #ffffff;
}

.title {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 10px;
}

.title + p {
  margin-bottom: 47px;
}

.btn {
  text-align: center;
}

.search-button {
   text-transform: uppercase;
   width: 568px;
   height: 86px;
}

.search-box {
  width: 568px;
  height: 395px;
  background-color: #ffffff;
  margin: 0;
  margin-left: 316px;
}

.arrival {
  padding-top: 55px;
  padding-left: 55px;
}

.arrival-input {
  width: 346px;
  height: 38px;
  margin-left: 20px;
}

.departure {
  padding-top: 29px;
  padding-left: 55px;
}

.departure-input {
  width: 346px;
  height: 38px;
  margin-left: 17px;
}

.pupil {
  display: flex;
  padding-top: 29px;
  padding-left: 55px;
}

.adults-input {
  width: 113px;
  height: 38px;
  margin-left: 38px;
}

.children-label {
  margin-left: 50px;
  margin-right: 25px;
}

.children-input {
  width: 113px;
  height: 38px;
}

.find {
  text-align: center;
  margin-top: 55px;
}

.button-find {
  width: 458px;
  height: 58px;
  text-transform: uppercase;
}

.main-footer .footer-container {
  display: flex;
  min-height: 120px;
  background-color: #fefefe;
}

.footer-cotacts{
  width: 400px;
  text-align: center;
  margin: 0;
  padding-top: 50px;
}


.footer-social {
  width: 400px;
}

.footer-social ul {
  list-style: none;
  display: flex;
  width: 150px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 36px auto;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
}

.copyright {
  display: flex;
  width: 400px;
  margin: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.logo-html svg {
  width: 115px;
  height: 40px;
}

.container-hotels {
  width: 1200px;
  margin: 0px auto;
}

.fil {
  display: flex;
  margin-right: 72px;
  margin-left: 72px;
  min-height: 217px;
}

.filter-item fieldset {
  padding-left:0;
  margin-top: 30px;
  border: 0;
  padding: 0;
  margin: 0;
}

.filter-item{
  width: 241px;
  margin-top: 30px;
}

.right {
  width: 328px;
  margin-left: auto;
}

.filter-item ul {
  padding: 0;
  margin: 0;
}

.option-filter-item {
  padding-top: 20px;
}

.found {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  padding-right: 72px;
  padding-left: 72px;
  background-color: #fefefe;
}

.filter-input {
  display: none;
}

.checkbox-style {
  position: relative;
  width: 27px;
  height: 25px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.checkbox-style,
.filter-text {
  display: inline-block;
  vertical-align: middle;
}

.filter-input:checked + .checkbox-style::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}



.filter-text {
  padding-left: 10px;
}

.filter-price {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
}

.filter-price::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.filter-price label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.filter-price .min-price,
.filter-price .max-price {
  width: 90px;
  padding-left: 65px;
}

.filter-price input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.filter-controls {
  position: relative;

  margin-bottom: 32px;
}

.filter-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.filter-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.filter-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.filter-toggle:hover {
  background: #1c4f80;
}

.filter-toggle-min {
  left: 0;
}

.filter-toggle-max {
  left: 80%;
}

.button-show {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.found-item {
  padding-top: 30px;
  margin-right: 48px;
}

.sorting-list {
  display: flex;
}

.sorting-item {
  display: flex;
}

.results-list{
  margin:0;
  padding: 0;
  background-color: #fefefe;
}

.results-item {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  padding-right: 72px;
  padding-left: 72px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.results-item-image {
  margin-right: 30px;
}

.results-item-image img {
  width: 135px;
  height: 90px;
}

.results-item-info h2 {
  margin-top: 0;
}

.results-item-info {
  margin-top: -6px;
}

.type {
  margin-top: -11px;
}

.more-info,
.booking,
.sorting-text {
  padding: 8px 16px;
}

.rating-box {
  margin-left: auto;
  margin-top: 65px;
}

.price {
  padding-left: 40px;
}
